Name: <%= @student.name %>

Addresses:
<ul>
  <% @addresses.each do |address| %>
    <li>
      <%= address.description %>
      <%= address.street %>
      <%= address.city %>
      <%= address.state %>
      <%= address.zip %>
    </li>
  <% end %>
</ul>

Course List:
<ul>
  <% @courses.each do |course| %>
    <li>
      <%= course.subject %>
    </li>
  <% end  %>
</ul>
